extends _layout

include mixins/error

block page
    h1 Anmeldung für Mitarbeiter

    +error-mixin

    form(method="post")
        input(name="email" type="text" placeholder="E-Mail")
        input(name="password" type="password" placeholder="Password")
        button
            i(icon-name="log-in")
            span Login