extends _layout

include mixins/message

block page
    h1 Nachrichten

    a.block.button(href="/messages/send")
        i(icon-name="mail")
        span Nachricht schreiben

    each message in messages
        +message-mixin(message)